* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(3rem, 15vw, 10rem);
}

body {
  background-color: #87ceeb;
}
canvas {
  width: 700px;
  height: 1000px;
  background-image: url(images/background.png);

  display: flex;
  margin: auto;
}
